<div class="table-responsive">
    <form class="center" (ngSubmit)="listar()">
      <input class="pesq" name="xd" [(ngModel)]="pesquisar"
      type="text">
      <div></div>
      <button class="btt1 btn btn-primary" type="submit" >Pesquisar</button>
      <button class="btt2 btn btn-primary"  type="reset">Limpar</button>
    </form>
    <table class="table formulario">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cadastro of cadastros" id="origem">
        <td class="up">{{ cadastro.nome }}</td>
        <td>R$ {{ cadastro.preco }}</td>
        <td>{{ cadastro.quantidade }}</td>
        <td><button class="btn btn-primary" (click)="mover(cadastro)">mover</button></td>

      </tr>
    </tbody>

  </table>

  <table class="table formulario">
    <thead>
      <tr>

        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Preço Total</th>
        
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cadastro of cadastroSelecionado" id="origem">
        <td><input id="valorSoma" type="number"></td>
        <td class="up">{{ cadastro.nome }}</td>
        <td>R$ {{ cadastro.preco }}</td>
        <td>R$ {{ hehe(cadastro) }}</td>
        <button ></button>

      </tr>
    </tbody>

  </table>
  </div>
